.todo-hr {
  margin: 0px 0px 2px 0px;
  padding: 0px 0px 0px 0px;
}

.todo-checkBox {
  margin: 12px 0px 0px 8px;
}

.todo-complete {
  text-decoration: line-through;
  color: #808080;
}

.todo-slimCol {
  padding: 0;
  margin: 0;
}

.todo-label {
  padding-left: 8px;
  padding-top: 3px;
  margin: 0px;
}

.todo-count {
  font-weight: 500;
  color: #424242;
  margin-right: 12px;
}
