<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todoloo!</ion-title>
    <ion-buttons end>
      <h6 class="todo-count">How many todo's do you have to do? &nbsp; <ion-badge color="danger">{{ todoCount }}</ion-badge></h6>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let todo of todoList | async">
    <div *ngIf="!todo.complete">
      <ion-row>
        <ion-col width-10>
          <ion-checkbox [(ngModel)]="todo.complete" (click)="updateTodo(todo)" class="todo-checkBox" name="complete"></ion-checkbox>
        </ion-col>

        <ion-col width-80>
          <ion-label>{{ todo.title }}</ion-label>
        </ion-col>

        <ion-col width-10>
          <button ion-button small outline color="dark" (click)="deleteTodo(todo)">
          <ion-icon name="trash"></ion-icon>
        </button>
        </ion-col>
      </ion-row>

      <hr class="todo-hr" />

      <div *ngIf="todo.show">
        <ion-row>
          <ion-col>
            <ion-label class="todo-label">Title</ion-label>
            <ion-input type="text" [(ngModel)]="todo.title"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="todo-label">Notes</ion-label>
            <ion-textarea [(ngModel)]="todo.notes" placeholder="Add notes here!" rows="2"></ion-textarea>
          </ion-col>
        </ion-row>
      </div>

      <a *ngIf="!todo.show" (click)="todo.show = true">
        <ion-row>
          <ion-col center text-center class="todo-slimCol" (click)="storeData(todo.title, todo.notes)">
            <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
          </ion-col>
        </ion-row>
      </a>

      <a *ngIf="todo.show" (click)="todo.show = false">
        <hr class="todo-hr" />
        <ion-row>
          <ion-col center text-center class="todo-slimCol" width-10>
            <button ion-button small outline (click)="updateTodo(todo)">update</button>
          </ion-col>
          <ion-col width-80></ion-col>
          <ion-col width-10 class="todo-slimCol" (click)="cancel(todo)">
            <button ion-button small outline color="danger">cancel</button>
          </ion-col>
        </ion-row>
      </a>
    </div>
  </ion-card>

  <!-- Create new todo -->
  <ion-card>
    <ion-row>
      <ion-col width-90>
        <ion-input type="text" placeholder="Add New Todo!" [(ngModel)]="newTodo"></ion-input>
      </ion-col>

      <ion-col width-10>
        <button ion-button small outline color="default" (click)="createTodo()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-col width-33></ion-col>
    <ion-col width-33>
      <ion-label text-center>Completed Todo's</ion-label>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let todo of todoList | async">
    <div *ngIf="todo.complete">
      <ion-row>
        <ion-col width-10>
          <ion-checkbox class="todo-checkBox" checked disabled></ion-checkbox>
        </ion-col>

        <ion-col width-90>
          <ion-label class="todo-complete">{{ todo.title }}</ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>
