<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todoloo!</ion-title>
    <ion-buttons end>
      <h6 class="todo-count">How many todo's do you have to do? &nbsp; <ion-badge color="danger">{{ todoCount }}</ion-badge></h6>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let todo of todoList | async">
    <ion-row>
      <ion-col width-10>
          <ion-checkbox [(ngModel)]="todo.complete" (click)="todo.update()" class="todo-checkBox" name="complete"></ion-checkbox>
      </ion-col>

      <ion-col width-80>
        <ion-label>{{ todo.title }}</ion-label>
      </ion-col>

      <ion-col width-10>
        <button ion-button small outline color="dark" (click)="deleteTodo(todo)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <hr class="todo-hr" />

    <ion-row *ngIf="todo.showDetails">
      <ion-col>
        <ion-label class="todo-label">Title</ion-label>
        <ion-input type="text" [(ngModel)]="todo.title" (blur)="todo.update()"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="todo.showDetails">
      <ion-col>
        <ion-label class="todo-label">Notes</ion-label>

        <ion-textarea *ngIf="todo.notes.length > 0" [(ngModel)]="todo.notes" (blur)="todo.update()" rows="2"></ion-textarea>
        <ion-textarea *ngIf="todo.notes.length <= 0" [(ngModel)]="todo.notes" (blur)="todo.update()" placeholder="Add notes here!" rows="2"></ion-textarea>
      </ion-col>
    </ion-row>

    <a *ngIf="!todo.showDetails" (click)="todo.displayDetails()">
      <ion-row>
        <ion-col center text-center class="todo-slimCol">
            <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-col>
      </ion-row>
    </a>

    <a *ngIf="todo.showDetails" (click)="todo.hideDetails();">
      <hr class="todo-hr" />
      <ion-row>
        <ion-col center text-center class="todo-slimCol">
          <ion-icon ios="md-arrow-dropup" md="md-arrow-dropup"></ion-icon>
        </ion-col>
      </ion-row>
    </a>

  </ion-card>



  <!-- Create new todo -->
  <ion-card>
    <ion-row>
      <ion-col width-90>
        <ion-input type="text" placeholder="Add New Todo!" [(ngModel)]="newTodo"></ion-input>
      </ion-col>

      <ion-col width-10>
        <button ion-button small outline color="default" (click)="createTodo()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
